body {
    background-color: #FAFAFA;
}

.container {
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

img {
    text-align: center;
}

.image {
    display: block;
    margin: auto;
}

.buttoncontainer {
    text-align: center;
}

.contentImg {
    width: 300px;
    display: block;
    margin: auto;
    border-style: none;
}